<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/cabecalho.ejs") %> 
    <link rel="stylesheet" href="../cadastrar.css">
    <link rel="shortcut icon" href="../../assets/carro.ico" type="image/x-icon">
    <title>Tela de Cadastro de Veículos</title>
</head>
<body>
    <div class="form-container">
        <h2>Cadastro de Veículo</h2>
        <form action="/carros" method="POST">
          <label for="marca">Marca</label>
          <input type="text" id="marca" name="inp_marca" required>
    
          <label for="modelo">Modelo</label>
          <input type="text" id="modelo" name="inp_modelo" required>
    
          <label for="ano">Ano</label>
          <input type="number" id="ano" name="inp_ano" min="1980" max="2024" required>
    
          <label for="placa">Placa</label>
          <input type="text" id="placa" name="inp_placa"  pattern="[A-Z]{3}-[0-9]{4}" required title="Formato da placa: AAA-1234">
    
          <label for="cor">Cor</label>
          <input type="text" id="cor" name="inp_cor" required>
    
          <label for="preco_diaria">Preço da Diária (R$)</label>
          <input type="number" id="preco_diaria" name="inp_preco_diaria" step="0.01" required>
    
          <button type="submit">Cadastrar Veículo</button>
        </form>
      </div>
      <%- include("../partials/rodape.ejs") %> 
</body>
</html>